<h1> Sign Up to be a USER WOOHOO<h1>

<form action="<%=users_url%>" method="post">
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="name">name</label>
  <input id="name" type="text" name="user[name]">
  <br>

  <label for="password">pasword</label>
  <input id="password" type="password" name="user[password]">
    <br>


<input type="submit" value="Join the Goal Post!">
</form>